* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
/* Orienting the question and answers */
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header, p {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
}
/* Styling all of the buttons */
button {
    background-color: rgb(37, 0, 202);
    color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    display: grid;
    margin: 3px;
    margin-left: 30%;
}
/* Making the buttons lighter when hovering */
button:hover {
    filter: brightness(150%);
}

.container {
    max-width: 75%;
}

.question-container {
    font-size: 35px;
    margin-top: 100px;
    font-weight: bold;
    margin-left: 30%;
}
/* Padding for the answer buttons */
.answers {
    padding-left: 5px;
    padding-right: 5px;
}

.start-button, .submit-button {
    font-weight: bold;
    background-color: rgb(12, 113, 147);
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    margin-left: 44%;
}

.hide {
    display: none;
}